html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("home.svg");
  background-size: contain;   /* Keeps the svg fully visible */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;  /* fallback space fill */
}
